@model  System.Web.Mvc.HandleErrorInfo

<section>
    <h2>
        <em>Erro Especifica - View Especifica - somente erros de NullReferenceException</em>
        
    </h2>
    <p>@Model.Exception.Message</p>
</section>
